<%- model_class = Account -%>
<div class="page-header">
  <h1>Accounts</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Token</th>
      <th>Created At </th>
      <th>Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.accounts.each do |account| %>
      <tr>
        <td><%= account.friendly_name %></td>
        <td><%= account.auth_token %></td>
        <td><%= account.date_created %></td>
        <td><span class="label label-<%= account.status == 'closed' ? 'danger' : 'info' %>"><%= account.status %></span></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_account_path(account.sid), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      account_path(account),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_path,
            :class => 'btn btn-primary' %>
