<%- model_class = Account -%>
<div class="page-header">
  <h1>Account</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Sid:</strong></dt>
  <dd><%= @account.accounts.items.first.sid %></dd>
  <dt><strong>Token:</strong></dt>
  <dd><%= @account.accounts.items.first.auth_token %></dd>
  <dt><strong>Phone Number:</strong></dt>
  <dd><%= @account.accounts.items.first.phone_number %></dd>
  <dt><strong>app_sid:</strong></dt>
  <dd><%= @account.accounts.items.first.app_sid %></dd>
  <dd><%= @account.accounts.items.first.inspect %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              accounts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_account_path(@account), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              account_path(@account),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
